body {
    text-align: justify;
    background-color: #000;
}



.fejlec {
    background-color: #f2f2f2;
    margin: 0 auto;

}

#helyszinek p {
    text-align: center;
    margin: 5px;
    font-weight: bol
}

#bevezeto {
    margin: 20px 0;
}

#varolista ul {
    margin-left: 50px;
}

#terkep img {
    margin: auto;

}



#logo img{
    height: 80px;
}
.fejlecSec {
    padding-left: 50px;
    padding-right: 50px;
}
#kozep {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.ButtonDesign {
    width: 100%;
    background-color: #dff8d5;
}

.felsoGomb {
  height: 40px;
  
}

#bodygenyo {
  background-color: #a19f79;
  margin: 0 0 0 0;
}
#contBg {
  background-color: #EBE9D9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}
.navBar-o {
  width: 1150px; 
  margin: auto;
  padding-bottom: 20px;
  
}
.ContClass {
  margin: 0 auto; 
  margin-top: 10px;
  background-color: #181a17;
  
}

/*FOOTER*/

#buttonVelemeny {
  background-color: #448132;
}

#buttonVelemeny:hover{
  background-color: #618855;
}

#rendeleshez {
  font-size: 15pt;
}